
@{
    Layout = "~/Views/Shared/_Sablon.cshtml"; // Sayfanın layot'u belirtilen pathtedir..

}


    <div class="container">
        <div id="titleNeden">
            <p>
                <h2 id="baslik">
                    NEDEN BT AKADEMİ'DE EĞİTİM ALMALIYIM?
                </h2>
                Kurumların iş ve sektörlerindeki rekabet güçlerini; bilişim altyapılarına katma değer katarak arttırmak amacıyla kurulan BT Akademi, bu kültürle müşterilerine hizmetlerini sunuyor.
            </p>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 infoUst">
            <div class="col info">
                <div class="card h-100">
                    <i class="fa-solid fa-graduation-cap infoImg"></i>
                    <div class="card-body">
                        <h5 class="card-title">Uzman Kadro</h5>
                        <p class="card-text">Ülkenin önde gelen global markalarına eğitim veren uzmanlardan eğitim alın.</p>
                    </div>
                </div>
            </div>
            <div class="col info">
                <div class="card h-100">
                    <i class="fa-solid fa-glasses infoImg"></i>
                    <div class="card-body">
                        <h5 class="card-title">Tecrübe</h5>
                        <p class="card-text">1000'den fazla büyük markaya hizmet vermiş olan BT Akademi tecrübesinin bir parçası olun.</p>
                    </div>
                </div>
            </div>
            <div class="col info">
                <div class="card h-100">
                    <i class="fa-solid fa-globe infoImg"></i>
                    <div class="card-body">
                        <h5 class="card-title">Kültür</h5>
                        <p class="card-text">Eğitim sürecinde eğitmen değişikliğine gitmemeyi ilke edinmiş bir kültürle tanışın.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col info">
                <div class="card h-100">
                    <i class="fa-solid fa-rocket infoImg"></i>
                    <div class="card-body">
                        <h5 class="card-title">Ezberden Uzak</h5>
                        <p class="card-text">Uygulamaya dayalı, ezberden uzak eğitim anlayışı ile tanışın.</p>
                    </div>
                </div>
            </div>
            <div class="col info">
                <div class="card h-100">
                    <i class="fa-solid fa-house-chimney infoImg"></i>
                    <div class="card-body">
                        <h5 class="card-title">Aile</h5>
                        <p class="card-text">Yeni bilginin yalnızca takipçisi değil, üreticisi olan bir aile ile tanışın.</p>
                    </div>
                </div>
            </div>
            <div class="col info">
                <div class="card h-100">
                    <i class="fa-solid fa-thumbs-up infoImg"></i>
                    <div class="card-body">
                        <h5 class="card-title">Özgün İçerik</h5>
                        <p class="card-text">Başka yerde bulunmayan özgün içeriklerle, farkındalığınızı yükseltin.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

